<div class="flex justify-content-center flex-wrap background-container">
  <p-card class="card" [style]="{ width: '360px'}">
    <ng-template pTemplate="header">
        <img alt="logo" src="../../../../../assets/images/logo-login.png"/>
    </ng-template>
    <ng-template pTemplate="content">
      <input pInputText type="text" placeholder="email"/>
      <input pInputText type="text" placeholder="password"/>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Save" icon="pi pi-check"></p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
    </ng-template>
  </p-card>
</div>
