<header class="bg-white p-3 border-bottom-1 border-200">
  <div class="navbar-content flex justify-content-between align-items-center">
    <a routerLink="/">
      <img
        src="/assets/images/logo.png"
        alt="Logo de la Universidad Católica de Pereira"
        class="h-3rem"
      />
    </a>
    <div class="hidden gap-6 ml-auto md:flex align-items-center">
      <div class="flex gap-3">
        @for (link of links; track link.path) {
          <a
            class="no-underline text-gray-600 font-semibold"
            routerLinkActive="text-primary"
            [routerLink]="link.path"
            [routerLinkActiveOptions]="{ exact: link.exact }"
          >
            {{ link.label | uppercase }}
          </a>
        }
      </div>

    </div>
    <p-button
      p="----"
      icon="pi pi-bars"
      [rounded]="true"
      [outlined]="true"
      class="md:hidden"
      (onClick)="openSidebar()"
    ></p-button>
  </div>
</header>

<p-sidebar [(visible)]="isSidebarOpen">
  <ng-template pTemplate="header">
    <a routerLink="/">
      <img
        src="/assets/images/logo.png"
        alt="Logo de la Universidad Católica de Pereira"
        class="h-3rem"
      />
    </a>
  </ng-template>
  <div class="flex flex-column gap-3">
    @for (link of links; track link.path) {
      <a
        class="no-underline text-gray-600 font-semibold"
        routerLinkActive="text-primary"
        [routerLink]="link.path"
        [routerLinkActiveOptions]="{ exact: link.exact }"
      >
        {{ link.label | uppercase }}
      </a>
    }
  </div>
</p-sidebar>
