<header class="bg-white p-3 border-bottom-1 border-200">
  <div class="navbar-content flex justify-content-between align-items-center">
    <a routerLink="/monitoring">
      <img
        src="/assets/images/logo.png"
        alt="Logo de la Universidad Católica de Pereira"
        class="h-3rem"
      />
    </a>
    <div class="hidden gap-6 md:flex align-items-center">
      <div class="flex gap-3">
        @for (link of links; track link.path) {
          <a
            class="no-underline text-gray-600 font-semibold"
            routerLinkActive="text-primary"
            [routerLink]="link.path"
            [routerLinkActiveOptions]="{ exact: link.exact }"
          >
            {{ link.label | uppercase }}
          </a>
        }
      </div>
    </div>
    <div class="hidden md:flex gap-3 align-items-center">
      <p class="text-lg"  routerLink="/monitoring/profile">{{ userName }}</p>
      <p-button
        icon="pi pi-sign-out"
        [rounded]="true"
        [outlined]="true"
        size="small"
        (onClick)="logout()"
        pTooltip="Cerrar sesión"
        tooltipPosition="bottom"
      ></p-button>
    </div>
    <p-button
      icon="pi pi-bars"
      [rounded]="true"
      [outlined]="true"
      class="md:hidden"
      (onClick)="openSidebar()"
    ></p-button>
  </div>
</header>

<p-sidebar [(visible)]="isSidebarOpen">
  <ng-template pTemplate="header">
    <a routerLink="/">
      <img
        src="/assets/images/logo.png"
        alt="Logo de la Universidad Católica de Pereira"
        class="h-3rem"
      />
    </a>
  </ng-template>
  <p class="text-xl mb-4" routerLink="/monitoring/profile">{{ userName }}</p>
  <div class="flex flex-column gap-3">
    @for (link of links; track link.path) {
      <a
        class="no-underline text-gray-600 font-semibold"
        routerLinkActive="text-primary"
        [routerLink]="link.path"
        [routerLinkActiveOptions]="{ exact: link.exact }"
      >
        {{ link.label | uppercase }}
      </a>
    }
    <a
      tabindex="0"
      class="cursor-pointer no-underline text-gray-600 font-semibold"
      (click)="logout()"
      (keypress.enter)="logout()"
    >
      CERRAR SESIÓN
    </a>
  </div>
</p-sidebar>
