<header class="bg-white p-3 border-bottom-1 border-200">
  <div class="navbar-content flex justify-content-between align-items-center">
    <a routerLink="/">
      <img
        src="/assets/images/logo.png"
        alt="Logo de la Universidad Católica de Pereira"
        class="h-4rem"
      />
    </a>
    <p-button
      icon="pi pi-user"
      [rounded]="true"
      severity="info"
      [outlined]="true"
      pTooltip="Perfil"
      tooltipPosition="bottom"
    ></p-button>
  </div>
</header>
