:host {
  display: block;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.dialog::ng-deep .p-dialog-content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.dialog::ng-deep .p-dialog-content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
