

<div class="page-layout">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="content">
      <div class="welcome-message">
        <h1>Bienvenido, <span>{{userName}}</span></h1>
        <p>Total de Monitorias: <span>{{countMonitoring}}</span></p>
        <p>Mis Monitorias agendadas: <span>{{countMymonitoring}}</span></p>
        <p>Monitorias que me han agendado: <span>{{mySchedules}}</span></p>
      </div>
      <div class="logo-container">
        <img src="../../../../../../assets/images/logo-login.png" alt="Logo de la Universidad">
      </div>
    </div>
    <div class="triangle">
      <div class="triangle-content">
        <p>¡Bienvenido a Monitorías del Otún! Aquí, puedes gestionar todas tus monitorías de manera sencilla y eficiente. Desde el módulo de 'Monitor', puedes crear nuevas monitorías, mientras que desde el campo 'Agendar' puedes programarlas cómodamente. Además, puedes acceder a todas tus monitorías desde la sección 'Monitorías'. ¡Esperamos que esta plataforma te sea de gran ayuda en tu proceso de aprendizaje!</p>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>



