@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--gray-200);
}

h1,
h2,
h4,
h4,
h5,
h5,
p {
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
