:host {
  display: block;
}

.two-column-grid {
  display: flex;
  justify-content: space-between; /* Para distribuir las columnas */
}

.two-column-grid .column {
  width: calc(50% - 10px); /* Para dejar espacio entre las columnas */
  margin-right: 20px; /* Espacio entre las columnas */
}

.two-column-grid .row {
  margin-bottom: 20px; /* Espacio entre las filas */
}


