<p-toast></p-toast>

<main class="page-layout">
  <app-navbar></app-navbar>
  <div
    class="flex-1 text-gray-600 container lg:border-round-md bg-white my-6 p-3"
  >
    <h1>{{ monitoring.title }}</h1>
    <h2 class="mb-3">{{ monitoring.subject.name }}</h2>
    <p class="mb-3">{{ monitoring.description }}</p>
    <div class="flex flex-column gap-2 mb-3">
      <h3 class="font-bold">Información sobre el monitor</h3>
      <p>
        <span class="font-bold">Nombre</span>
        <span>
          {{ monitoring.createdBy.profile.firstName }}
          {{ monitoring.createdBy.profile.lastName }}
        </span>
      </p>
      <p>
        <span class="font-bold">Correo electrónico</span>
        <span>
          {{ monitoring.createdBy.email }}
        </span>
      </p>
      <p>
        <span class="font-bold">Edad</span>
        <span>
          {{ monitoring.createdBy.profile.age }}
        </span>
      </p>
      <p>
        <span class="font-bold">Género</span>
        <span>
          {{ monitoring.createdBy.profile.gender }}
        </span>
      </p>
      <p>
        <span class="font-bold">Sobre mí</span>
        <span>
          {{ monitoring.createdBy.profile.overview }}
        </span>
      </p>
    </div>
    <p-button
      icon="pi pi-calendar"
      label="Agendar"
      size="small"
      (click)="openAgendasCalendarModal()"
    ></p-button>
  </div>
  <app-footer></app-footer>
</main>

<p-dialog
  header="Disponibilidades"
  [(visible)]="isAgendasCalendarOpen"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="true"
>
  <div>
    <div class="flex align-items-center gap-2 mb-3">
      <div
        [ngStyle]="{ width: '12px', height: '12px' }"
        class="bg-primary border-circle"
      ></div>
      <p>Fechas disponibles</p>
    </div>
    <p-calendar
      class="monitoring-agendas-calendar max-w-full"
      [inline]="true"
      [disabledDates]="disabledDates"
      [disabled]="isAgendasCalendarDisabled"
      (onMonthChange)="setCurrentMonth($event)"
      (onSelect)="openAgendaDetailModal($event)"
    >
      <ng-template pTemplate="date" let-date>
        <span
          [ngClass]="{
            'text-primary font-bold':
              isAvailableDate(date) && !isAgendasCalendarDisabled
          }"
        >
          {{ date.day }}
        </span>
      </ng-template>
    </p-calendar>
  </div>
</p-dialog>

<p-confirmDialog [dismissableMask]="true">
  <ng-template pTemplate="message" let-message>
    <div>
      <p class="mb-3">{{ message.message }}</p>
      @if (selectedMonitoringAgenda) {
        <div class="flex flex-column gap-1">
          <p>
            <span class="font-bold">Monitor </span>
            <span>
              {{ monitoring.createdBy.profile.firstName }}
              {{ monitoring.createdBy.profile.lastName }}
            </span>
          </p>
          <p>
            <span class="font-bold">Asignatura </span>
            <span>{{ monitoring.subject.name }}</span>
          </p>
          <p>
            <span class="font-bold">Inicia </span>
            <span>
              {{
                selectedMonitoringAgenda.startDate | date: "yyyy-MM-dd h:mm a"
              }}
            </span>
          </p>
          <p>
            <span class="font-bold">Finaliza </span>
            <span>
              {{ selectedMonitoringAgenda.endDate | date: "yyyy-MM-dd h:mm a" }}
            </span>
          </p>
          <p>
            <span class="font-bold">Inscripciones </span>
            <span>
              {{ selectedMonitoringAgenda.placesTaken }}/{{
                monitoring.maxAvailablePlaces
              }}
            </span>
          </p>
        </div>
      }
    </div>
  </ng-template>
</p-confirmDialog>
